<div class="left">

  <div class="domain-category">
    <a [href]="data.domain">
      <img src="assets/amazon-2.svg" alt="" class="domain">
    </a>
    <p class="category">Bluetooth Speakers</p>
  </div>

  <p class="title">
    {{ data.title }}
  </p>

  <p class="price">{{ data.price.split('.')[0] }}</p>

  <div class="top-scores">
    <p class="heading">TOP SCORES</p>
    <div class="topics">
      <div class="topic sound">
        <p class="heading">SOUND QUALITY</p>
        <div class="star-rating">
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star_half</i>
        </div>
      </div>
      <div class="topic build">
        <p class="heading">DESIGN & BUILD</p>
        <div class="star-rating">
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
        </div>
      </div>
      <div class="topic bass">
        <p class="heading">BASS</p>
        <div class="star-rating">
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
        </div>
      </div>
      <div class="topic battery">
        <p class="heading">BATTERY BACKUP</p>
        <div class="star-rating">
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="right">
  <p class="category">Bluetooth Speakers</p>


  <img src="assets/hero.png" class="image">

  <div class="details">
    <div class="prop id">
      <p class="heading">PRODUCT ID</p>
      <p class="value">ABCD1234</p>
    </div>
    <div class="prop created">
      <p class="heading">CREATED AT</p>
      <p class="value">31 September, 2018</p>
    </div>
    <div class="prop reviews">
      <p class="heading">TOTAL REVIEWS</p>
      <p class="value">3013</p>
    </div>
    <div class="prop last-review">
      <p class="heading">LAST REVIEW DATE</p>
      <p class="value">21 December, 2018</p>
    </div>
  </div>
</div>
